<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Url shortener</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Generate shorten Url</h1>
    <form action="#" th:action="@{/generateUrl}" th:object="${shortenmodel}" method="post">
    	<p>Enter url <input type="text" th:field="*{url}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
       
</body>
</html>